// reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}

// html {
//   color-scheme: dark light;
// }

//font
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;900&family=Outfit:wght@300;400&display=swap");

// variables

$black: #151515;
$gray: #444444;
$white: #ffffff;
$gold: #d5966c;

$heading: "Big Shoulders Display", sans-serif;
$body: "Outfit", sans-serif;

$fw-light: 300;
$fw-reg: 400;
$fw-black: 800;

br.desktop-break {
  display: none;
}

@media screen and (min-width: 81.25em) {
  br.desktop-break {
    display: inline-block;
  }

  br.mobile-break {
    display: none;
  }
}
