.datg-section {
  margin-bottom: 7.5rem;

  &__text-1 {
    margin-bottom: 1rem;
    padding-top: 0.563rem;
    padding-bottom: 0.563rem;

    h2 {
      margin-bottom: 1.313rem;
    }

    p {
      max-width: 330px;
    }
  }

  &__text-2 {
    padding: 3rem 1.5rem 2.938rem;

    h2 {
      margin-bottom: 1.5rem;
    }

    p {
      max-width: 300px;
    }
  }

  &__image-container {
    margin-bottom: 1rem;
  }

  .dark-text-area {
  }
}

@media screen and (min-width: 700px) {
  .datg-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 11px;
    grid-template-areas:
      "one one one one one two two two two two two two"
      "three three three three three three three four four four four four"
      "three three three three three three three five five five five five";

    &__text-1 {
      grid-area: one;
    }

    &__text-2 {
      grid-area: five;
    }

    &__image-1 {
      grid-area: two;
    }

    &__image-2 {
      grid-area: three;
    }

    &__image-3 {
      grid-area: four;
      background-image: url(../assets/tablet/image-grid-3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;

      picture {
        display: none;
      }
    }

    &__image-container {
      margin-bottom: 0;
    }

    &__text-1 {
      padding-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      position: relative;

      &__wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      h2 {
        max-width: 223px;
        margin-bottom: 1.5rem;

        br.break-mobile {
          display: none;
        }
      }
    }

    &__text-2 {
      padding: 0 1.75rem 0 1.813rem;
      position: relative;

      &__wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      p {
        max-width: 223px;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .datg-section {
    &__text-1 {
      h2 {
        max-width: 350px;
        margin-bottom: 2rem;
      }
    }

    &__text-2 {
      p {
        max-width: 350px;
      }
    }

    &__image-3 {
      background-image: url(../assets/desktop/image-grid-3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
    }
  }
}
