footer {
  padding: 3rem 1rem;

  p {
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0em;
    margin: 2.375rem 0;
    max-width: 311px;
  }

  ul.social-links {
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 20px;

    li {
      max-width: 20px;

      a:hover {
        svg {
          path {
            transition-property: fill;
            transition-duration: 200ms;
            fill: $gold;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .footer {
    padding: 3.5rem 0;

    p {
      max-width: 281px;
    }

    ul.social-links {
      justify-content: end;
    }

    &__flex {
      display: flex;
      justify-content: space-between;
      align-items: start;

      &--item-1 {
        flex: 3;
      }

      &--item-2 {
        flex: 7;
      }

      &--item-3 {
        flex: 2;
      }
    }

    p {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1300px) {
  .footer {
    p {
      font-size: 1.125rem;
      max-width: 430px;
    }
  }
}
