a.gallery-button {
  display: inline-block;
  text-decoration: none;

  span.gallery-button__text {
    display: inline-block;
    color: $white;
    background-color: $black;
    border: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 1.5rem 2.188rem 1.5rem 2rem;
    letter-spacing: 3.64px;
    font-family: $heading;
  }

  span.gallery-button__icon {
    background-color: $gold;
    width: 56px;
    position: relative;

    img {
      max-width: 8px;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.gallery-button-alt {
    span.gallery-button__text {
      order: 2;
    }
  }
}

a.gallery-button:hover {
  span {
    transition-property: background-color;
    transition-duration: 200ms;
    &.gallery-button__text {
      background-color: $gold;
    }

    &.gallery-button__icon {
      background-color: $black;
    }
  }
}
