.intro-section {
  a.gallery-button {
    margin-top: 32px;
  }

  margin-bottom: 120px;

  &__black-bg {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .intro-section {
    display: flex;

    &__image {
      flex-grow: 1;
      max-width: 57%;
    }

    &__container {
      flex-grow: 1;
      position: relative;
    }

    &__content {
      position: absolute;
      left: -58px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (min-width: 1100px) {
  .intro-section {
    &__black-bg {
      display: block;
      position: relative;
      width: 32%;
      background-color: $black;
      flex-grow: 1;

      h1 {
        position: absolute;
        color: gray;
        top: 25%;
        right: -160px;
        padding: 0;
        font-size: 96px;
        line-height: 88px;
      }
    }

    &__image {
      width: 37%;
    }

    &__container {
      width: 31%;
      position: relative;
    }

    &__content {
      top: 44%;
      left: -69px;

      h1 {
        display: none;
      }
    }
  }
}
