.intro-section {
  &__content {
    max-width: 21.438rem;
  }

  a.gallery-button {
    margin-top: 2rem;
  }

  margin-bottom: 7.5rem;

  &__black-bg {
    display: none;
  }
}

@media screen and (min-width: 43.75em) {
  .intro-section {
    display: flex;

    &__image {
      flex-grow: 1;
      max-width: 57%;
    }

    &__container {
      flex-grow: 1;
      position: relative;
    }

    &__content {
      position: absolute;
      left: -3.625rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (min-width: 81.25em) {
  .intro-section {
    &__black-bg {
      display: block;
      position: relative;
      width: 32%;
      background-color: $black;
      flex-grow: 1;

      h1 {
        position: absolute;
        color: $white;
        top: 25%;
        right: -10.188rem;
        padding: 0;
        font-size: 6rem;
        line-height: 5.5rem;
        mix-blend-mode: difference;
      }
    }

    &__image {
      width: 37%;
      display: flex;
    }

    &__container {
      width: 31%;
      position: relative;
    }

    &__content {
      top: 25%;
      transform: none;
      max-width: 21.875rem;
      left: -14.375rem;

      h1 {
        display: none;
      }
    }
  }
}
