@import "mixins";

#location-page {
  background-color: $gold;

  .map-section {
    position: relative;

    .gallery-button {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .our-location {
    padding: 3rem 1rem 3.5rem;
    color: $white;
    background-color: $black;

    h3 {
      color: $gold;
      font-size: 2rem;
      line-height: 2rem;
      font-family: $heading;
      font-weight: $fw-black;
      text-transform: uppercase;
      margin-top: 3rem;
      margin-bottom: 1.25rem;
    }

    p:nth-of-type(1) {
      margin-bottom: 1.25rem;
    }

    .our-location__1 {
      br {
        display: none;
      }
    }

    .our-location__2 {
      max-width: 26.75rem;
    }
  }

  footer {
    background-color: $gold;
    color: $black;

    svg {
      path {
        fill: $black;
      }
    }

    p {
      max-width: 26.75rem;
    }

    ul.social-links {
      li:hover {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 43.75em) {
  #location-page {
    .map-section {
      .gallery-button {
        left: 2.438rem;
      }
    }

    .our-location {
      padding: 5.5rem 2.5rem 5.5rem 2.438rem;
      @include flexbox();

      h3 {
        margin-top: 0;
      }

      .our-location__1 {
        padding-right: 4.25rem;

        br {
          display: inline-block;
        }
      }

      .our-location__2 {
        max-width: 33.125rem;
      }
    }

    footer {
      p {
        max-width: 26.875rem;
      }
    }
  }
}

@media screen and (min-width: 81.25em) {
  #location-page {
    .map-section {
      .gallery-button {
        left: 9.75rem;
      }
    }

    .our-location {
      padding: 6.5rem 10.313rem 8rem;

      h2 {
        font-size: 6rem;
        line-height: 5.5rem;
      }

      h3 {
        font-size: 2.25rem;
        line-height: 2.25rem;
      }

      .our-location__1 {
        padding-right: 13.75rem;
      }
    }
  }
}
