#location-page {
  .map-section {
    position: relative;

    .gallery-button {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .our-location {
    padding: 48px 16px 56px;
    color: $white;
    background-color: $black;

    h3 {
      color: $gold;
      font-size: 32px;
      line-height: 32px;
      font-family: $heading;
      font-weight: $fw-black;
      text-transform: uppercase;
      margin-top: 48px;
      margin-bottom: 20px;
    }

    p:nth-of-type(1) {
      margin-bottom: 20px;
    }

    .our-location__1 {
      br {
        display: none;
      }
    }

    .our-location__2 {
      max-width: 428px;
    }
  }

  footer {
    background-color: $gold;
    color: $black;

    svg {
      path {
        fill: $black;
      }
    }

    p {
      max-width: 428px;
    }

    ul.social-links {
      li:hover {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  #location-page {
    .map-section {
      .gallery-button {
        left: 39px;
      }
    }

    .our-location {
      padding: 88px 40px 88px 39px;
      display: flex;

      h3 {
        margin-top: 0;
      }

      .our-location__1 {
        padding-right: 68px;

        br {
          display: inline-block;
        }
      }

      .our-location__2 {
        max-width: 530px;
      }
    }

    footer {
      p {
        max-width: 430px;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  #location-page {
    .map-section {
      .gallery-button {
        left: 156px;
      }
    }

    .our-location {
      padding: 104px 165px 128px;

      h2 {
        font-size: 96px;
        line-height: 88px;
      }

      h3 {
        font-size: 36px;
        line-height: 36px;
      }

      .our-location__1 {
        padding-right: 220px;
      }
    }
  }
}
