@import "config";
@import "gallery-buttons";

html {
  font-family: $body;
}

img {
  width: 100%;
}

p {
  font-weight: $fw-light;
  line-height: 28px;
}

h1 {
  font-family: $heading;
  font-size: 60px;
  line-height: 55px;
  font-weight: $fw-black;
  padding: 32px 0;
  text-transform: uppercase;
}

.flex-wrap {
  display: flex;
}

.intro-section {
  &__content {
    margin: 0 16px;
  }

  a.gallery-button {
    margin-top: 32px;
  }
}