@import "config";
@import "gallery-buttons";
@import "intro-section";
@import "datg-section";
@import "footer";
@import "location-page";

html {
  font-family: $body;
}

img {
  width: 100%;
}

*:focus-visible {
  outline: 4px solid lime;
}

p {
  font-weight: $fw-light;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

h1 {
  font-family: $heading;
  font-size: 3.75rem;
  line-height: 3.438rem;
  font-weight: $fw-black;
  padding: 2rem 0;
  text-transform: uppercase;
}

h2 {
  font-family: $heading;
  font-size: 3.125rem;
  line-height: 2.813rem;
  font-weight: $fw-black;
  text-transform: uppercase;
}

a {
  display: inline-block;
  text-decoration: none;
  /* text-align: center; */
}

.flex-wrap {
  display: flex;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.dark-text-area {
  color: $white;
  background-color: $black;
}

@media screen and (min-width: 43.75em) {
  .container {
    margin-left: 2.438rem;
    margin-right: 2.5rem;
  }
}

@media screen and (min-width: 81.25em) {
  p {
    font-size: 1.375rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 3.75rem;
    line-height: 3.125rem;
  }

  .container {
    margin-left: 10.313rem;
    margin-right: 10.25rem;
  }
}
