@import "config";
@import "gallery-buttons";

html {
  font-family: $body;
}

img {
  width: 100%;
}

p {
  font-weight: $fw-light;
  line-height: 28px;
}

h1 {
  font-family: $heading;
  font-size: 60px;
  line-height: 55px;
  font-weight: $fw-black;
  padding: 32px 0;
  text-transform: uppercase;
}

h2 {
  font-family: $heading;
  font-size: 50px;
  line-height: 45px;
  font-weight: $fw-black;
  text-transform: uppercase;
}

.flex-wrap {
  display: flex;
}

.container {
  margin: 0 16px;
}

.intro-section {
  a.gallery-button {
    margin-top: 32px;
  }

  margin-bottom: 120px;

  &__black-bg {
    display: none;
  }
}

.day-at-the-gallery-section {
  margin-bottom: 120px;

  h2 {
    padding: 25px 0 32px;
  }

  &__image-container {
    margin-bottom: 16px;
  }
}

.dark-text-area {
  color: $white;
  background-color: $black;
  padding: 48px 24px 47px;
}

footer {
  p {
    font-size: 16px;
    letter-spacing: 0em;
    margin: 38px 0;
  }

  ul.social-links {
    list-style: none;
    display: flex;
    gap: 20px;

    li {
      max-width: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .intro-section {
    display: flex;

    &__image {
      flex-grow: 1;
      max-width: 57%;
    }

    &__container {
      flex-grow: 1;
      position: relative;
    }

    &__content {
      position: absolute;
      left: -58px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (min-width: 992px) {
  .intro-section {

    &__black-bg {
      display: block;
      position: relative;
      width: 32%;
      background-color: $black;
      flex-grow: 1;

      h1 {
        position: absolute;
        color: gray;
        top: 25%;
        right: -99px;
        padding: 0;
      }
    }

    &__image {
      width: 37%;
    }

    &__container {
      width: 31%;
      position: relative;
    }

    &__content {
      top: 44%;
      left: auto;
      right: 8%;

      h1 {
        display: none;
      }
    }
  }
}
